body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 20px; /* Increased padding for better spacing */
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 1200px; /* Maximum width for the main content */
    margin: 0 auto; /* Center the main content */
}

section {
    margin-bottom: 40px;
    background-image: linear-gradient(to bottom, rgb(0, 94, 255), rgb(0, 255, 179));
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.show {
    margin-bottom: 20px;
}

.video-container {
    max-width: 800px;
    margin: 20px auto; /* Center the video container */
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0; /* Maintain aspect ratio */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Remove default border */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}