body {
    font-family: 'Arial', sans-serif; 
    background-image: linear-gradient(to right, #00c6ff, #007987);
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo img {
    height: 75px;
    width: auto;
}

.logo-text h1 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    color: #ffeb3b;
    transform: scale(1.1);
}

main {
    width: 90%;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    flex: 1;
}

main h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: #007987;
}

main p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #333;
}

footer {
    background-color: #007987;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-top: auto;
}

footer p {
    font-size: 14px;
    margin: 0;
}

footer:hover {
    background-color: #004d44;
    transform: translateY(5px);
}

.welcome-section h2 {
    text-align: center;
    font-size: 36px;
    color: #007987;
    text-shadow: 2px 2px 10px rgba(0, 0, 255, 0.5), -2px -2px 10px rgba(255, 0, 0, 0.5);
}

.welcome-section p {
    font-size: 18px;
    text-align: center;
    color: #333;
    text-shadow: 3px 3px 5px rgba(0, 0, 255, 0.8), -3px -3px 5px rgba(255, 0, 0, 0.8), 5px 5px 10px rgba(0, 255, 0, 0.8);
    line-height: 1.8;
}

.section1, .section2, .section3, .section4, .section5, .section6, .section7, .section8, .section9 {
    border: 2px solid #333;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;    
}

.section1 img, .section2 img, .section3 img, .section4 img,  .section5 img, .section6 img, .section7 img, .section8 img, .section9 img {
    max-width: 40%;
    height: auto;
    border-radius: 8px;
}

.section1 h2, .section2 h2, .section3 h2, .section4 h2,  .section5 h2, .section6 h2, .section7 h2, .section8 h2, .section9 h2 {
    font-size: 24px;
    color: #007987;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.section1 h1, .section2 h1, .section3 h1, .section4 h1,  .section5 h1, .section6 h1, .section7 h1, .section8 h1, .section9 h1 {
    font-size: 24px;
    color: #007987;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.section1 p, .section2 p, .section3 p, .section4 p,  .section5 p, .section6 p, .section7 p, .section8 p, .section9 p {
    font-size: 16px;
    color: #555;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    color: black;  /* Set text color to black */
}

th {
    background-color: #007987;
    color: white;
    text-transform: uppercase;
}

td {
    background-color: #f4f4f4;
    color: black; /* Ensure table data text is black */
}

tr:hover {
    background-color: #e0e0e0;
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.weather-icon {
    width: 30px;
    height: auto;
}
.center-container {
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
    height: 100vh;            /* Full viewport height */
    text-align: center;       /* Ensures text is centered if necessary */
}
.liga-table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.liga-table th, .liga-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.liga-table th {
    background-color: #007987;
    color: white;
    text-transform: uppercase;
}

.liga-table tr:nth-child(even) {
    background-color: #f4f4f4;
}

.liga-table tr:hover {
    background-color: #e0e0e0;
    transform: scale(1.02);
    transition: all 0.3s ease;
}
.latest-barca-matches-table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.latest-barca-matches-table th, .latest-barca-matches-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.latest-barca-matches-table th {
    background-color: #007987;
    color: white;
    text-transform: uppercase;
}

.latest-barca-matches-table tr:nth-child(even) {
    background-color: #f4f4f4;
}

.latest-barca-matches-table tr:hover {
    background-color: #e0e0e0;
    transform: scale(1.02);
    transition: all 0.3s ease;
}
.contact-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.contact-info div {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info h3 {
    margin-top: 0;
    color: #850d0d;
}

/* Contact Form Section */
.form-container {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container input, .form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container input[type="submit"] {
    background-color: #333;
    color: rgb(241, 17, 17);
    border: none;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #555;
}

.form-container label {
    color: black;
}
.form-container input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #555;
}

/* Google Map Section */
.map-container {
    margin-top: 30px;
    border-radius: 12px; /* Curved corners */
    overflow: hidden; /* Hide anything outside the border-radius */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Optional: Adding a slight shadow to enhance the effect */

}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: none;

}

.welcoming-section {
    background-image: url('https://source.unsplash.com/1600x600/?city'); /* Replace with your preferred background image */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.welcoming-content h2 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: bold;
}

.welcoming-content p {
    font-size: 1.2rem;
    margin-top: 15px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #0056b3;
}


.news-item {
    display: flex;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-image {
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}

.news-content {
    padding: 20px;
    width: 60%;
}

.news-content h3 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 0;
}

.news-content p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.read-more {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
}